<div class="form-inline">
  <div class="form-group" [ngClass]="{'has-danger': !isPropertyNameValid}">
    <label class="mr-sm-2" for="propertyNameField">Property</label>
    <select #propertyNameField class="form-control form-control-sm custom-select" id="propertyNameField" [(ngModel)]="sorter.dataIndex" required>
      <option *ngFor="let column of sortingColumnsProvider.properties" [value]="column.dataIndex">{{column.name}}</option>
    </select>
  </div>

  <div class="form-group sort-by-item"  [ngClass]="{'has-danger': !isSortOrderValid}">
    <label class="mr-sm-2" for="orderField">Sorting order</label>
    <select #sortOrderField class="form-control form-control-sm custom-select" id="orderField" [(ngModel)]="sorter.sortOrder" required>
      <option [value]="'ASC'">Ascending</option>
      <option [value]="'DESC'">Descending</option>
    </select>
  </div>

  <button type="button" class="btn btn-secondary btn-sm delete-item-button" data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="onSorterRemoveClicked(sorter)">
    <img src="assets/delete_icon.svg" height="20" width="20">
  </button>
</div>
